<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <title><%= title %></title>
</head>
<body>
    <h1>Username to Database Form</h1>
    <p>Adds submitted username into the postgreSQL database (locally)</p>
    <form action="/new" method="POST">
        <label for="username">Username to store into database: </label>
        <input type="text" name="username" id="username" placeholder="username goes here...">
        <button type="submit">Submit</button>
    </form>

    <a href="/">Go back to home</a>
</body>
</html>